<h1><%=@song.title%></h1>

<h2><%= "By: #{@song.artist_name}"  %></h2>
<h3><%= "Genre: #{@song.genre}" %></h3>

<h3>Release Year:</h3>
<% if @song.released? %>
<p><%= @song.release_year %></p>
<% else %>
<p>This song has not been released yet.</p>
<% end %><br><br>
<%= link_to "Edit #{@song.title}", edit_song_path(@song)%><br>
<%= link_to "All Songs", songs_path %><br>
<%= link_to "Delete this song", song_path(@song), method: :delete %>



