<h1>Details for <%=@song.title%> </h1>
Title: <%=@song.title%> <br><br>
Released: <% if @song.released ==  true %> Yes <br><br> <% else %> No <br><br> <%end%>
Release Year: <%=@song.release_year%> <br><br>
Artist Name: <%=@song.artist_name%> <br><br>
Genre: <%=@song.genre%> <br><br>